
{% extends "base/base.html" %}
{% block main %} 
<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<!-- 按钮：用于打开模态框 -->
				<button type="button" class="btn btn-primary" data-toggle="modal" onclick="add_host();">
				  新增主机
				</button>
				 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2">
				  批量导入
				</button>
				{% if messages %}
					<ul class="messages" >
						<p class="demo-button">
						{% for message in messages %}
						{% if message.tags %}
						<div class="alert" >{{ message }}</div>
						{% endif %}
						{% endfor %}
						</p>
					</ul>
				{% endif %}

				<!-- 主机列表 --->
				<table class="table table-striped">
					<thead>
					<tr>
					  <th scope="col">#</th>
					  <th scope="col">主机类别</th>
					  <th scope="col">主机名</th>
					  <th scope="col">主机IP</th>
					  <th scope="col">端口</th>
					</tr>
					</thead>
					<tbody>
					{% for host in page_obj %}
					<tr>
					  <th scope="row">{{host.host_id}}</th>
					  <td>{{host.host_type}}</td>
					  <td>{{host.host_name}}</td>
					  <td>{{host.host_ip}}</td>
					  <td>{{host.host_port}}</td>
					</tr>
					{% endfor %}
					</tbody>
					</table>
					<div class="pagination">
						<span class="step-links">
							{% if page_obj.has_previous %}
								<a href="?page=1">&laquo; first</a>
								<a href="?page={{ page_obj.previous_page_number }}">previous</a>
							{% endif %}

							<span class="current">
								Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
							</span>

							{% if page_obj.has_next %}
								<a href="?page={{ page_obj.next_page_number }}">next</a>
								<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
							{% endif %}
						</span>
					</div>
				<!-- 主机列表 end--->
				
				<!-- 模态框1 -->
				<div class="modal fade" id="Modal1">
				
				  <div class="modal-dialog">
					<div class="modal-content">
					<form action="/hosts/add-host" method="post">
						{% csrf_token %}
					  <!-- 模态框头部 -->
					  <div class="modal-header">
						<h4 class="modal-title" id="new-host">新增主机</h4>
					  </div>
				 
					  <!-- 模态框主体 -->
					  <div class="modal-body">
						<div class="card bg-primary" id="card1">
						<div class="card-body">
						<!-- INPUT GROUPS -->
							<div class="panel">
								<div class="panel-body">
									<div class="input-group">
										<span class="input-group-addon">主机类别</span>
											<select class="form-control selectpicker show-tick" title="请选主机类别" name="card1_select_tye_name">
												<option data-content="<span class='label label-success'>广东省</span>">广东省</option>    
												<option data-content="<span class='label label-info'>广西省</span>">广西省</option>  
												<option data-icon="glyphicon glyphicon-plus">添加新类型</option>
											</select>
											<button type="button" class="btn btn-default" onclick="add_new_type();"><i class="glyphicon glyphicon-plus"></i>&nbsp; 自定义类型</button>
											<!-- <button type="button" class="btn btn-outline-primary input-group-addon" id="add-new-type"><i class="glyphicon glyphicon-plus"></i>自定义类型</button> -->
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">主机名</span>
										<input class="form-control" type="text" name="host_name">
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">ssh</span>
										<input class="form-control" type="text" name="host_ip">
										<span class="input-group-addon">端口</span>
										<input class="form-control" type="text" value="22" name="host_port">
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">用户名:</span>
										<input class="form-control" type="text" name="user_name" >
										<span class="input-group-addon">密码:</span>
										<input class="form-control" type="text" name="passwd">
									</div>
								</div>
							</div>
						</div>
						</div>
							<!-- END INPUT GROUPS -->
							<div class="card bg-primary" id="card2">
								<div class="card-body">
									<div class="panel">
										<div class="panel-body">
											<div class="input-group">
												<span class="input-group-addon">主类别</span>
													<select class="form-control selectpicker show-tick" onchange="card2_new_onclick();" title="请选主类别" id="card2-select" name="card2_select_tye_name">
														<option data-content="<span class='label label-success'>广东省</span>">广东省</option>    
														<option data-content="<span class='label label-info'>广西省</span>">广西省</option>  
														<option data-icon="glyphicon glyphicon-plus" value="new-type" >新增</option>
													</select>
											</div>
											<br>
											<div class="input-group">
												<span class="input-group-addon">子类别名称</span>
												<input class="form-control" type="text" id="sub_type_name_1">
											</div>
										</div>
									</div>
							</div>
							</div>
							<div class="card bg-primary" id="card3">
								<div class="card-body">
									<div class="panel">
										<div class="panel-body">
											<div class="input-group">
												<span class="input-group-addon">类别名称</span>
												<input class="form-control" type="text" id="new_type_name">
											</div>
											<br>
											<div class="input-group">
												<span class="input-group-addon">子类别名称</span>
												<input class="form-control" type="text" id="sub_type_name_2">
											</div>
										</div>
									</div>
							</div>
							</div>
							<div class="card" id="card4" style="display: none">
								<div class="card-body">
										<!-- <div class="panel-body"> -->
											<div class="sufee-alert alert with-close alert-success alert-dismissible show">
												<span class="badge badge-pill badge-success">成功</span>
													新增类型成功
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
										<!-- </div> -->
								</div>
							</div>

					</div><!-- 模态框底部 -->
					  <div class="modal-footer">
						<button type="submit" id="id-btn-modal1-submit" class="btn btn-secondary" >提交</button>
						<button type="button" id="id-btn-modal1-cancel" class="btn btn-secondary" onclick="modal1_btn_cnacel_click();">取消</button>
					</div>
				</form>
					</div>
				  </div>
				</div>
				<!-- 模态框1 end -->
				<!-- 模态框2 -->
				<div class="modal fade" id="Modal2">
				  <div class="modal-dialog">
					<div class="modal-content">
				 
					  <!-- 模态框头部 -->
					  <div class="modal-header">
						<h4 class="modal-title">模板批量导入</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					  </div>
				 
					  <!-- 模态框主体 -->
					  <form action="/upload-hosts-file" method="post" enctype="multipart/form-data">
					  <div class="modal-body">
						<div class="list-group">
						 
						<div class="cell list-group-item"><a href="/download-template">下载模板</a> </div>
						<div class="cell list-group-item"><input type="file"/> </div>
						 
						<div>
					  </div>
				 
					  <!-- 模态框底部 -->
					  <div class="modal-footer">
						<button type="submit" class="btn btn-secondary">上传</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" >取消</button>
					  </div>
					</form>
					</div>
				  </div>
				</div>
				<!-- 模态框2end -->
				
				
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
<script>
function add_host(){
	$("#Modal1").modal('toggle');
	$("#id-btn-modal1-submit").prop("type", "submit");
	$("#card1").show();
	$("#new-host").text("新增主机");
	$("#card3").hide();
	$("#card2").hide();
}
function add_new_type(){
	$("#card1").hide();
	$("#card2").show();
	$("#card3").hide();
	$("#new-host").text("新增主机-类型");
	$("#id-btn-modal1-submit").prop("type", "button");
	$("#id-btn-modal1-cancel").text("上一步");
	document.getElementById('card2-select').selectedIndex = 0;
	$('#card2-select').selectpicker('render');
	document.getElementById("id-btn-modal1-submit").addEventListener("click", submit_host_type, true);

}
function card2_new_onclick(){
	var selectList = document.getElementById("card2-select");
	var selValue=selectList.options[selectList.selectedIndex].value;
	if (selValue == "new-type") {
		$("#card1").hide();
		$("#card2").hide();
		$("#card3").show();
		$("#new-host").text("新增主机-类型");
	}
	$("#id-btn-modal1-submit").prop("type", "button");
	$("#id-btn-modal1-cancel").text("上一步");
}
function modal1_btn_cnacel_click(){
	if (document.getElementById('card3').style.display != "none"){
		document.getElementById('new_type_name').value="";
		document.getElementById('sub_type_name_1').value="";
		document.getElementById('sub_type_name_2').value="";
		$("#card1").hide();
		$("#card2").show();
		$("#new-host").text("新增主机-类型");
		$("#card3").hide();
		document.getElementById('card2-select').selectedIndex = 0;
		$('#card2-select').selectpicker('render');

	}
	else if (document.getElementById('card2').style.display != "none"){
		document.getElementById('sub_type_name_1').value="";
		document.getElementById('sub_type_name_2').value="";
		$("#card1").show();
		$("#new-host").text("新增主机");
		$("#card2").hide();
		$("#card3").hide();
		$("#id-btn-modal1-submit").prop("type", "submit");
		$("#id-btn-modal1-cancel").text("取消");
		document.getElementById("id-btn-modal1-submit").removeEventListener("click", submit_host_type);
	}
	else if (document.getElementById('card1').style.display != "none"){
		$("#Modal1").modal('toggle');
	}
}
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function submit_host_type(){
	var data = new Object();
	var selectList = document.getElementById("card2-select");
	var selValue=selectList.options[selectList.selectedIndex].value;
	if (document.getElementById('card2').style.display != "none"){
		if (selectList.selectedIndex != 0 && selValue != "new-type") {
			data.type = selValue;
		}
		if ($("#sub_type_name_1").val() != ""){
			data.sub_type = $("#sub_type_name_1").val()
		}
	} else if (document.getElementById('card3').style.display != "none") {
		data.type = $("#new_type_name").val();
		data.sub_type = $("#sub_type_name_2").val()
	}
	$.ajax({
			url : "/hosts/type",
			type : "POST",
			data : data,
			headers: {
				"X-CSRFToken": getCookie("csrftoken") 
			},
			success : function(data) {
				console.info(data);
				$('#card3').hide();
				$('#card2').hide();
				$('#card4').show();
				$("#new-host").text("新增主机-类型");
				if (data.msg == "successed") {
					$(".alert-dismissible").removeClass("alert-danger")
					$(".alert-dismissible").addClass("alert-success")
					$(".badge-pill").removeClass("badge-danger")
					$(".badge-pill").addClass("badge-success")
					$('#card4').fadeOut(3000, function(){
						$('#card4').hide();
						$('#card1').show();
						$("#new-host").text("新增主机");
						$("#id-btn-modal1-submit").prop("type", "submit");
						$("#id-btn-modal1-cancel").text("取消");
					});
				} else {
					$(".alert-dismissible").removeClass("alert-success")
					$(".alert-dismissible").addClass("alert-danger")
					$(".badge-pill").removeClass("badge-success")
					$(".badge-pill").addClass("badge-danger")
					$('#card4').fadeOut(3000, function(){
						$('#card4').hide();
						$('#card2').show();
						$("#new-host").text("新增主机-类型");
					});
				}
			},
			error : function(data) {
				console.warn(data);
			}
		});
 
		return false;
}
</script>
{% endblock %}