
{% extends "base/base.html" %}
{% block main %} 
<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<!-- 按钮：用于打开模态框 -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
				  新增主机
				</button>
				 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2">
				  批量导入
				</button>
				{% if messages %}
					<ul class="messages" >
						<p class="demo-button">
						{% for message in messages %}
						{% if message.tags %}
						<div class="alert" >{{ message }}</div>
						{% endif %}
						{% endfor %}
						</p>
					</ul>
				{% endif %}

				<!-- 主机列表 --->
				<table class="table table-striped">
					<thead>
					<tr>
					  <th scope="col">#</th>
					  <th scope="col">主机类别</th>
					  <th scope="col">主机名</th>
					  <th scope="col">主机IP</th>
					  <th scope="col">端口</th>
					</tr>
					</thead>
					<tbody>
					{% for host in page_obj %}
					<tr>
					  <th scope="row">1</th>
					  <td>{{host.host_type}}</td>
					  <td>{{host.host_name}}</td>
					  <td>{{host.host_ip}}</td>
					  <td>{{host.host_port}}</td>
					</tr>
					{% endfor %}
					</tbody>
					</table>
					<div class="pagination">
						<span class="step-links">
							{% if page_obj.has_previous %}
								<a href="?page=1">&laquo; first</a>
								<a href="?page={{ page_obj.previous_page_number }}">previous</a>
							{% endif %}

							<span class="current">
								Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
							</span>

							{% if page_obj.has_next %}
								<a href="?page={{ page_obj.next_page_number }}">next</a>
								<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
							{% endif %}
						</span>
					</div>
				<!-- 主机列表 end--->
				
				<!-- 模态框1 -->
				<div class="modal fade" id="Modal1">
				
				  <div class="modal-dialog">
					<div class="modal-content">
					<form action="/hosts/add-host" method="post">
						{% csrf_token %}
					  <!-- 模态框头部 -->
					  <div class="modal-header">
						<h4 class="modal-title">新增主机</h4>
					  </div>
				 
					  <!-- 模态框主体 -->
					  <div class="modal-body">
						
						
						<!-- INPUT GROUPS -->
							<div class="panel">
								<div class="panel-body">
									<div class="input-group">
										<span class="input-group-addon">主机类别</span>
										<select class="form-control" name="host_type">
										<option value="unbuntu-web">unbuntu-web</option>
										<option value="centos">centos</option>
										<option value="unbuntu">unbuntu</option>
										<option value="fw-asa">fw-asa</option>
										<option value="fw-topsec">fw-topsec</option>
										<option value="sw-huawei">sw-huawei</option>
									</select>
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">主机名</span>
										<input class="form-control" type="text" name="host_name">
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">ssh</span>
										<input class="form-control" type="text" name="host_ip">
										<span class="input-group-addon">端口</span>
										<input class="form-control" type="text" value="22" name="host_port">
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">用户名:</span>
										<input class="form-control" type="text" name="user_name" >
										<span class="input-group-addon">密码:</span>
										<input class="form-control" type="text" name="passwd">
									</div>
								</div>
							</div>
							<!-- END INPUT GROUPS -->
						
						
					  </div>
					  <!-- 模态框底部 -->
					  <div class="modal-footer">
						<button type="submit" class="btn btn-secondary" >提交</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
					  </div>
				 
				  </form>
					</div>
				  </div>
				</div>
				<!-- 模态框1 end -->
				<!-- 模态框2 -->
				<div class="modal fade" id="Modal2">
				  <div class="modal-dialog">
					<div class="modal-content">
				 
					  <!-- 模态框头部 -->
					  <div class="modal-header">
						<h4 class="modal-title">模板批量导入</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					  </div>
				 
					  <!-- 模态框主体 -->
					  <form action="/upload-hosts-file" method="post" enctype="multipart/form-data">
					  <div class="modal-body">
						<div class="list-group">
						 
						<div class="cell list-group-item"><a href="/download-template">下载模板</a> </div>
						<div class="cell list-group-item"><input type="file"/> </div>
						 
						<div>
					  </div>
				 
					  <!-- 模态框底部 -->
					  <div class="modal-footer">
						<button type="submit" class="btn btn-secondary">上传</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
					  </div>
					</form>
					</div>
				  </div>
				</div>
				<!-- 模态框2end -->
				
				
				
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->

{% endblock %}