{% extends "base/base.html" %}
{% block main %} 
<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<!-- 按钮：用于打开模态框 -->
				<div class="panel">
					<div class="panel-heading">
						<h6 class="panel-title">执行主机</h6>
					</div>
				
				<div class="panel-body">
					<div  class="container-fluid " >
						<div class="d-table-row" id="hosts-list">
						
						</div>
					</div>
					<br>
					<button name="btn" id="btn-select-hosts" onclick="getCliHosts(this)" data-toggle="modal" data-target="#modalHostList"><i class="fa fa-plus-square"></i> 从列表中选择</button>

					<hr>
					<!--命令行输入区-->
					<textarea id="cli-input" class="form-control" placeholder="textarea" rows="10" cols="50"></textarea>
					<script>
						$("#cli-input").setTextareaCount({
							width: "30px",
							bgColor: "#000",
							color: "#FFF",
							display: "inline-block"
						});
					</script>
					<hr>
					<button type="button" class="btn btn-primary" onclick="start_exec_cli()"><i class="glyphicon glyphicon-flash"></i> 开始执行</button>
        </div>
			</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="modalHostList">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">选择执行主机</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4"><label for="host_type">选择类别:</label>
            <select name="host_type">
              <option value="unbuntu-web">unbuntu-web</option>
              <option value="centos">centos</option>
              <option value="unbuntu">unbuntu</option>
              <option value="fw-asa">fw-asa</option>
              <option value="fw-topsec">fw-topsec</option>
              <option value="sw-huawei">sw-huawei</option>
              </select>
          </div>
          <div class="col-md-4"><label for="host_type">主机名称:<label><input type="text" name="host_name"/></div>
        <div class="col-md-2"><span class="check"><input type="checkbox" class="checked" name="select-all"></span><label for="select-all">全选</label></div>
        <div class="col-md-2"> <button type="button" id="refresh", class="btn btn-round btn-info" onclick="getCliHosts()">刷新</button></div>
        </div>
        <div class="row"><hr></div>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped" id="cli-hosts-lists">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"><input id='select-all-hosts' name='select-all' type='checkbox' onclick="select_table_all_rows()"/></th>
                  <th scope="col">主机类别</th>
                  <th scope="col">主机名称</th>
                  <th scope="col">IP地址</th>
                </tr>
              </thead>
              <tbody id="hosts-list-cli">
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col">
                        
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" aria-label="Previous" onclick="getCliHosts(this)" id="page-previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" id="page-1"><a onclick="getCliHosts(this)" class="page-link" id="page-item-1">1</a></li>
                <li class="page-item" id="page-2"><a onclick="getCliHosts(this)" class="page-link" id="page-item-2">2</a></li>
                <li class="page-item" id="page-3"><a onclick="getCliHosts(this)" class="page-link" id="page-item-3">3</a></li>
                <li class="page-item" >
                  <a class="page-link" id="page-next" onclick="getCliHosts(this)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="confirm_select_cli_host()">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="cli-result-modal-dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">执行控制台</h4>
      </div>
      <div class="modal-body">
        <div id="result-id-1"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}