
{% extends "base/base.html" %}
{% block main %} 
<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<!-- 按钮：用于打开模态框 -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
				  新增主机
				</button>
				 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2">
				  批量导入
				</button>
				
				
				<!-- 模态框1 -->
				<div class="modal fade" id="Modal1">
				
				  <div class="modal-dialog">
					<div class="modal-content">
					<form action="/api/add-host" method="post">
					  <!-- 模态框头部 -->
					  <div class="modal-header">
						<h4 class="modal-title">新增主机</h4>
					  </div>
				 
					  <!-- 模态框主体 -->
					  <div class="modal-body">
						
						
						<!-- INPUT GROUPS -->
							<div class="panel">
								<div class="panel-body">
									<div class="input-group">
										<span class="input-group-addon">主机类别</span>
										<select class="form-control">
										<option value="cheese">unbuntu-web</option>
										<option value="tomatoes">centos</option>
										<option value="mozarella">unbuntu</option>
										<option value="mushrooms">fw-asa</option>
										<option value="pepperoni">fw-topsec</option>
										<option value="onions">sw-huawei</option>
									</select>
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">主机名</span>
										<input class="form-control" type="text" value="hostname">
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">ssh</span>
										<input class="form-control" type="text" value="username">
										<span class="input-group-addon">@</span>
										<input class="form-control" type="text" value="Host IP">
										<span class="input-group-addon">-p</span>
										<input class="form-control" type="text" value="port">
									</div>
								</div>
							</div>
							<!-- END INPUT GROUPS -->
						
						
					  </div>
					  <!-- 模态框底部 -->
					  <div class="modal-footer">
						<button type="submit" class="btn btn-secondary" >提交</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
					  </div>
				 
				  </form>
					</div>
				  </div>
				</div>
				<!-- 模态框1 end -->
				<!-- 模态框2 -->
				<div class="modal fade" id="Modal2">
				  <div class="modal-dialog">
					<div class="modal-content">
				 
					  <!-- 模态框头部 -->
					  <div class="modal-header">
						<h4 class="modal-title">模板批量导入</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					  </div>
				 
					  <!-- 模态框主体 -->
					  <form action="/upload-hosts-file" method="post" enctype="multipart/form-data">
					  <div class="modal-body">
						<div class="list-group">
						 
						<div class="cell list-group-item"><a href="/download-template">下载模板</a> </div>
						<div class="cell list-group-item"><input type="file"/> </div>
						 
						<div>
					  </div>
				 
					  <!-- 模态框底部 -->
					  <div class="modal-footer">
						<button type="submit" class="btn btn-secondary">上传</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
					  </div>
					</form>
					</div>
				  </div>
				</div>
				<!-- 模态框2end -->
				<!-- 主机列表 --->
				
				<!-- 主机列表 end--->
				
				
				
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->

{% endblock %}